@(rid: Int, requestForm: Form[DataRequest])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets, user: User, constants: utils.Constants)
@import b3.vertical.fieldConstructor
@import controllers.pages.routes
@import models.DataRequest
@import helper._

@views.html.main(title = Messages("edit.request"), user = Some(user)) {
  <hr />
  @b3.form(routes.ApplicationController.handleEditRequest(rid)) {
    @CSRF.formField
    <div class="container-fluid content">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 requpdate">
          <div class="pageheader">@Messages("editRequest.title")</div>
          <h5>@Messages("editRequest.caption")</h5>
        </div>
      </div>
      <fieldset class="requestform">
        <label for="title">Title:</label>
        @b3.text(requestForm("title"), '_hiddenLabel -> Messages("field.title"), 'placeholder -> Messages("field.requestTitle"), 'autofocus -> true)
        <label for="description">Description:</label>
        @b3.textarea(requestForm("description"), '_hiddenLabel -> Messages("field.password"), 'placeholder -> Messages("field.requestDescription"))
        <label for="email">Email:</label>
        @b3.email(requestForm("email"), '_hiddenLabel -> Messages("field.email"), 'placeholder -> Messages("field.requestEmail"))
        <label for="phone">Phone:</label>
        @b3.text(requestForm("phone"), '_hiddenLabel -> Messages("field.phone"), 'placeholder -> Messages("field.requestPhone"))
        <label for="pi">PI:</label>
        @b3.text(requestForm("pi"), '_hiddenLabel -> Messages("field.PI"), 'placeholder -> Messages("field.requestPI"))
        <label for="cphs">CPHS #:</label>
        @b3.text(requestForm("cphs"), '_hiddenLabel -> Messages("field.CPHS"), 'placeholder -> Messages("field.requestCPHS"))
        <p />
        @tags.submit(1, None)
      </fieldset>
    </div>
  }
}
