@(r: DataRequest)(implicit request: RequestHeader, user: User, messages: Messages, webJarAssets: WebJarAssets)

@import controllers.pages.routes
@import helper._

@views.html.main(title = Messages("editDownloaded.title", r.id, r.title), user = Some(user)) {
  <hr />
  <div class="container-fluid content">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 requpdate">
        <div class="pageheader">@Messages("editDownloaded.title", r.id, r.title)</div>
        <h5>@Messages("editDownloaded.caption")</h5>
      </div>
    </div>
    @views.html.tags.requestBox(r)
    <form method="post">
      @CSRF.formField
      <p>
        <div class="row">
          <div class="col-sm-12 submitrow">
            <input id="close" type="submit" value="Close Request" /> <a href="@routes.ApplicationController.requests(false)" class="button">Cancel</a> 
          </div>
        </div>
      </p>
    </form>
  </div>
}
