@(user: User, r: DataRequest, log: List[(RequestLog, Option[models.tables.DbUser])])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@views.html.main(title = Messages("request.log.title", r.id, r.title), user = Some(user)) {
  <div class="container-fluid content">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 requpdate">
        <div class="pageheader">@Messages("request.log.title", r.id, r.title)</div>
        @Messages("request.log.caption")
      </div>
    </div>
    
    <div class="row header">
      <div class="col-sm-2">Date</div>
      <div class="col-sm-6">Activity</div>
      <div class="col-sm-4">Data Broker</div>
    </div>
    @log.map { case (logEntry, userOption) =>
      <div class="row logrow">
        <div class="col-sm-2">@logEntry.dateString</div>
        <div class="col-sm-6 pre">@{logEntry.text.trim}</div>
        @userOption.map { user =>
          <div class="col-sm-4">@user.fullName &lt;@user.email&gt;</div>
        }
      </div>
    }
  </div>
}
