@(form: Form[String] ,token: java.util.UUID)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets, constants: utils.Constants)

@import b3.inline.fieldConstructor

@main(Messages("reset.password.title")) {
  <div class="container-fluid">
    <fieldset class="col-md-6 col-md-offset-3">
      <legend>@Messages("reset.password")</legend>
      @helper.form(action = controllers.auth.routes.ResetPasswordController.submit(token), 'autocomplete -> "off") {
        <p class="info">@Messages("strong.password.info")</p>
        @helper.CSRF.formField
        @passwordStrength(form("password.main"), '_hiddenLabel -> Messages("password"), 'placeholder -> Messages("password"), 'class -> "form-control input-lg")
        @b3.password(form("password.confirm"), '_hiddenLabel -> Messages("repeatpassword"), 'placeholder -> Messages("repeat password"), 'class -> "form-control input-lg")
        @for(error <- form.errors("password")) {
          <div class="form-error">@Messages(error.messages, error.args)</div>
        }
        <div class="form-group">
          <div>
            <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("reset")</button>
          </div>
        </div>
      }
    </fieldset>
  </div>
}
