@(signInForm: Form[(String, String, Boolean)])(implicit request: RequestHeader, messages: Messages)
@import b3.vertical.fieldConstructor
@import controllers.routes
@import helper._

@default("Sign In") {
@tags.alertFromRequest(request, "error")

@b3.form(routes.Auth.authenticate) {
  @CSRF.formField  
  <fieldset>
    <legend>@Messages("signin.title")</legend>
    @b3.text( signInForm("identifier"), '_hiddenLabel -> Messages("field.email"), 'placeholder -> "your@email.com", 'autofocus -> true )
    @b3.password( signInForm("password"), '_hiddenLabel -> Messages("field.password"), 'placeholder -> Messages("field.password") )
    @b3.checkbox( signInForm("rememberMe"), '_text -> Messages("signin.rememberme"), 'checked -> true )
    @b3.submit('class -> "btn btn-primary btn-block"){ @Messages("signin") }
    <div class="post-form-opts">
      <p>@Messages("signin.forgot.question") <a href="@routes.Auth.forgotPassword">@Messages("signin.forgot")</a></p>
    </div>
    <hr />
    <div class="container-fluid">
      <div class="box-center"><div class="row">
        <div class="col-sm-5 description">
          <h4>General Description</h4>
          @Messages("generalDescription")
        </div>
        <div class="col-sm-5 col-sm-offset-2 description">
          <h4>Institutional Description</h4>
          @Messages("institutionalDescription")
        </div>
      </div></div>
    </div>
    @views.html.tags.signInHelper()
  </fieldset>
  }
}
