body {
    padding-top: 70px;
}

#signin-helper {
    margin-top: 50px;
    td {
	cursor: pointer;
    }
}

.purple {
    border: 1px solid #ccc;
}

.brk {
  padding: 0px;
  min-height: 40px;
}

.reqinfo {
  border: 1px solid #ccc;
  padding: 7px;
  display: table;
}

.dbtable {

}

.uploaded {
  height: 8em;
  width: 24em;
  border: 1px solid #ccc;
  
}

.requirements {
  margin-top: 2em;
}

.requirements label {
  font-weight: inherit;
}

.requirements h4 {
  font-weight: bold;
  font-size: inherit;
}
.submitrow {
  text-align: center;
  margin-top: 2em;
}

.requpdate h1, .requpdate h5 {
  text-align: center;
}

.reqtitle {
  padding: 0px 0px 1px 2px;
}

.requestform textarea.form-control {
  height: 8em;
}

.requestform .btn-block {
  width: inherit;
}

.tablestyle div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.description {
  border: 1px solid #bbb;
  padding: 5px 20px 15px 20px;
}

.bx {
  min-height: 3em;
}

a .bx {
  color: black;

}

.tablestyle div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}


a:nth-of-type(odd) .bx {
  background: #eaeaea;
}

a:nth-of-type(even) .bx {
  background: #fff;
}

.vc {
  align-items: center;
  text-align: left;
}

.brk {
  min-height: 8px;
}

a .bx:hover {
  background-color: #ffd;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
