@(dr: Option[DataReq], req: List[Requirement])(implicit request: RequestHeader, user: User, messages: Messages)

@import controllers.routes

@views.html.templates.logged(title = "Update Request", tab = "update") {
	
  @tags.alertFromRequest(request, "success")

  @dr.map { r =>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 requpdate">
          <h1>@Messages("brokerrequest.title")</h1>
          <h5>@Messages("brokerrequest.caption")</h5>
        </div>
      </div>
      <p>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <div class="reqtitle">Request @r.id: <a href=>Click to expand</a></div>
          <div class="reqinfo">
            Researcher: @r.fullName<br>
            Status: Pending<br>
            Last Activity: 7/15/2015<br>
            Date Submitted: 4/20/2015<br>
            Notes:<br>
          </div>
          <div class="requirements">
            @req.map { rq =>
              @if(rq.title=="") {
                <h4>@rq.text</h4>
              } else {
                <input type="checkbox" id=rq@rq.id /> <label for="rq@rq.id">@rq.title</label><br>
              }
            }
          </div>  
        </div>
        <div class="col-sm-6">
          <input name="ifile">
          <input type=submit value="Upload">
          <br>
          Uploaded Files:
          <div class="uploaded"></div>
          <a href="">Download CPHS File</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 submitrow">
          <input type=submit>
        </div>
      </div>
    </div>
  }
}

