@()(implicit loggedUser: Option[User], request: RequestHeader, messages: Messages)

@import views.html.tags.auth._
@import controllers.routes

@views.html.templates.default(title = "Home", loggedUser, tab = "index", withMainTabs=false, withAuth=false, withTitle=true) {
  <div class="container">
    <div class="box-center">
      <div class="row">
        <div class="col-sm-5 description">
          <h4>ISIDRO</h4>
          @Messages("isidroDescription")
        </div>
        <div class="col-sm-5 col-sm-offset-2 description">
          <h4>Contact Information</h4>
          @Messages("contactDescription")
        </div>
      </div>
    </div>
  </div>
}
	
