@(requestForm: Form[DataRequest])(implicit request: RequestHeader, user: User, messages: Messages)
@import b3.vertical.fieldConstructor
@import controllers.routes
@import models.DataRequest

@views.html.templates.logged("New Request", tab = "newrequest") {
@tags.alertFromRequest(request, "error")

@b3.form(routes.Application.handleNewRequest) {
  <fieldset class="requestform">
    <legend>@Messages("newRequest.title")</legend>
    <label for="title">Title:</label>
    @b3.text( requestForm("title"), '_hiddenLabel -> Messages("field.email"), 'placeholder -> Messages("field.requestTitle"), 'autofocus -> true )
    <label for="description">Description:</label>
    @b3.textarea( requestForm("description"), '_hiddenLabel -> Messages("field.password"), 'placeholder -> Messages("field.requestDescription") )
<!--    <label for="CPHS">CPHS Upload:</label>
    <input type="file" name="CPHS"> -->
    <p />
    @b3.submit('class -> "btn btn-primary btn-block"){ @Messages("submitRequest") }
  </fieldset>
  }
}
