@(r: DataRequest)
<div class="reqtitle">Request</div>
<div class="reqinfo container-fluid">
  <div class="row">
    <div class="col-xs-4 fieldlabel">Email:</div>
    <div class="col-xs-8">@r.email</div>
  </div>
  <div class="row">
    <div class="col-xs-4 fieldlabel">PI:</div>
    <div class="col-xs-8">@r.pi</div>
  </div>
  <div class="row">
    <div class="col-xs-4 fieldlabel">Status:</div>
    <div class="col-xs-8">@r.statusString</div>
  </div>
  <div class="row">
    <div class="col-xs-4 fieldlabel">Title:</div>
    <div class="col-xs-8">@r.title</div>
  </div>
  <div class="row">
    <div class="col-sm-4 fieldlabel">Description:</div>
    <div class="col-sm-8">@r.description</div>
  </div>
</div>
